body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.gc {
    display: grid;
    grid-template-areas: "header header header" "menu right right"
}

.chartHeader {
    grid-area: header;
    height: 87px;
    background-color: #F6FAFC;
    color: #555555;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    padding: 44px 0px 0px 30px;
    border-bottom: 1px solid #CCCCCC;
}

.chartMenu {
    grid-area: menu;
    width: 250px;
    background-color: #F6FAFC;
    color: #555555;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.chartRight {
    grid-area: right;
    padding: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: #555555;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 15px 30px;
    list-style-type: none;
}

li {
    padding: 10px;
    color: #555555;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.title {
    color: #345172;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 22px;
    text-transform: uppercase;
}

.h210 {
    height: 210px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.alignswitch {
    float: right;
    margin-top: -5px;
    transform: scale(0.5,0.5);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.chardrag {
    -webkit-user-drag: element;
}

.custom-charts {
    height: 30px;
    color: #ffffff;
    background-color: #55aadd;
    border-radius: 5px;
    cursor: move;
    margin: 10px;
    user-select: none;
    line-height: 28px;
    -moz-user-select: -moz-none;
    text-align: center;
    vertical-align: middle;
    pointer-events: all;
}